name: Build and Upload Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout Code'
        uses: actions/checkout@v2

      - name: 'Log in to GitHub Container Registry'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/raspberrypi-lcd-status:latest ./raspberrypi-lcd-status

      - name: Push Docker Image
        run: |
          docker push ghcr.io/${{ github.repository }}/raspberrypi-lcd-status:latest
  